[data-has-tip]:not([data-tip-content]):not([title]):before, [data-has-tip]:not([data-tip-content]):not([title]):after {
  visibility: hidden; }

[data-has-tip][title=""]:not([data-tip-content]):before, [data-has-tip][title=""]:not([data-tip-content]):after {
  visibility: hidden; }

[data-has-tip]:not([data-tip-content])::after {
  content: attr(title); }

[data-has-tip][data-tip-content=""]::after {
  content: attr(title); }

[data-has-tip] {
  position: relative;
  cursor: default; }

[data-has-tip]::before, [data-has-tip]::after {
  position: absolute;
  visibility: hidden;
  z-index: 100000;
  pointer-events: none; }

[data-has-tip]:hover::before, [data-has-tip]:hover::after {
  visibility: visible; }

[data-has-tip]::before {
  border: 5px solid transparent;
  width: 0;
  height: 0;
  content: ""; }

[data-has-tip]::after {
  padding: 5px 8px;
  font-size: 13px;
  content: attr(data-tip-content);
  background-color: black;
  color: white;
  white-space: nowrap; }

[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::before {
  top: auto;
  right: 50%;
  bottom: -5px;
  left: auto; }
[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::after {
  top: 100%;
  right: 50%;
  bottom: auto;
  left: auto; }
[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::before {
  border-bottom-color: black; }
[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::after {
  margin-top: 5px; }
[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::before {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }
[data-has-tip]:not([data-has-tip~="top"]):not([data-has-tip~="right"]):not([data-has-tip~="bottom"]):not([data-has-tip~="left"])::after {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }

[data-has-tip~="top"]::before {
  top: -5px;
  right: 50%;
  bottom: auto;
  left: auto; }
[data-has-tip~="top"]::after {
  top: auto;
  right: 50%;
  bottom: 100%;
  left: auto; }
[data-has-tip~="top"]::before {
  border-top-color: black; }
[data-has-tip~="top"]::after {
  margin-bottom: 5px; }
[data-has-tip~="top"]::before {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }
[data-has-tip~="top"]::after {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }

[data-has-tip~="right"]::before {
  top: auto;
  right: -5px;
  bottom: 50%;
  left: auto; }
[data-has-tip~="right"]::after {
  top: auto;
  right: auto;
  bottom: 50%;
  left: 100%; }
[data-has-tip~="right"]::before {
  border-right-color: black; }
[data-has-tip~="right"]::after {
  margin-left: 5px; }
[data-has-tip~="right"]::before {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%); }
[data-has-tip~="right"]::after {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%); }

[data-has-tip~="bottom"]::before {
  top: auto;
  right: 50%;
  bottom: -5px;
  left: auto; }
[data-has-tip~="bottom"]::after {
  top: 100%;
  right: 50%;
  bottom: auto;
  left: auto; }
[data-has-tip~="bottom"]::before {
  border-bottom-color: black; }
[data-has-tip~="bottom"]::after {
  margin-top: 5px; }
[data-has-tip~="bottom"]::before {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }
[data-has-tip~="bottom"]::after {
  -webkit-transform: translate(50%, 0);
  -moz-transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  -o-transform: translate(50%, 0);
  transform: translate(50%, 0); }

[data-has-tip~="left"]::before {
  top: auto;
  right: auto;
  bottom: 50%;
  left: -5px; }
[data-has-tip~="left"]::after {
  top: auto;
  right: 100%;
  bottom: 50%;
  left: auto; }
[data-has-tip~="left"]::before {
  border-left-color: black; }
[data-has-tip~="left"]::after {
  margin-right: 5px; }
[data-has-tip~="left"]::before {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%); }
[data-has-tip~="left"]::after {
  -webkit-transform: translate(0, 50%);
  -moz-transform: translate(0, 50%);
  -ms-transform: translate(0, 50%);
  -o-transform: translate(0, 50%);
  transform: translate(0, 50%); }

[data-has-tip~="anchor-top"]::before {
  bottom: 80%; }

[data-has-tip~="anchor-right"]::before {
  right: 20%; }

[data-has-tip~="anchor-bottom"]::before {
  bottom: 20%; }

[data-has-tip~="anchor-left"]::before {
  right: 80%; }

[data-has-tip~="flow-up"]::after {
  bottom: 20%; }

[data-has-tip~="flow-down"]::after {
  bottom: 80%; }

[data-has-tip~="flow-right"]::after {
  -webkit-transform: translate(80%, 0);
  -moz-transform: translate(80%, 0);
  -ms-transform: translate(80%, 0);
  -o-transform: translate(80%, 0);
  transform: translate(80%, 0); }

[data-has-tip~="flow-left"]::after {
  -webkit-transform: translate(20%, 0);
  -moz-transform: translate(20%, 0);
  -ms-transform: translate(20%, 0);
  -o-transform: translate(20%, 0);
  transform: translate(20%, 0); }

[data-has-tip~="multiline"]::after {
  width: 200px;
  white-space: normal; }
