@mixin translate( $translate-x: 0, $translate-y: 0) {
  -webkit-transform: translate($translate-x, $translate-y);
     -moz-transform: translate($translate-x, $translate-y);
      -ms-transform: translate($translate-x, $translate-y);
       -o-transform: translate($translate-x, $translate-y);
          transform: translate($translate-x, $translate-y);
}
