/*! tip.css v0.3.0 | MIT License | http://git.io/tip.css*/

@import "_mixins/translate";

// assignments

$attr:         "data-has-tip"     !default;
$content-attr: "data-tip-content" !default;

// content

[#{$attr}]:not([#{$content-attr}]):not([title]) { &:before, &:after { visibility: hidden } }
[#{$attr}][title=""]:not([#{$content-attr}])    { &:before, &:after { visibility: hidden } }

[#{$attr}]:not([#{$content-attr}])::after { content: attr(title) }
[#{$attr}][#{$content-attr}=""]::after    { content: attr(title) }

// tip

[#{$attr}] {
  position: relative;
  cursor:   default;
}

[#{$attr}]::before, [#{$attr}]::after {
  position:       absolute;
  visibility:     hidden;
  z-index:        100000;
  pointer-events: none;
}

[#{$attr}]:hover::before, [#{$attr}]:hover::after { visibility: visible }

[#{$attr}]::before {
  border:  5px solid;
  width:   0;
  height:  0;
  content: "";
}

[#{$attr}]::after {
  padding:          5px 8px;
  font-size:        13px;
  content:          attr(#{$content-attr});
  background-color: black;
  color:            white;
  white-space:      nowrap;
}

// position

[#{$attr}] {
  &::before, &::after { @include translate(-50%, 0) }

  &::before {
    bottom: -5px;
    left: 50%;

    border-color: transparent;
    border-bottom-color: black;
  }

  &::after {
    top: 100%;
    left: 50%;

    margin-top: 5px;
  }
}

[#{$attr}~="top"] {
  &::before, &::after { @include translate(50%, 0) }

  &::before {
    top: -5px;
    right: 50%;
    bottom: auto;
    left: auto;

    border-color: transparent;
    border-top-color: black;
  }

  &::after {
    right: 50%;
    bottom: 100%;
    top: auto;
    left: auto;

    margin-bottom: 5px;
  }
}

[#{$attr}~="right"] {
  &::before, &::after { @include translate(0, 50%) }

  &::before {
    top: auto;
    right: -5px;
    bottom: 50%;
    left: auto;

    border-color: transparent;
    border-right-color: black;
  }

  &::after {
    top: auto;
    right: auto;
    bottom: 50%;
    left: 100%;

    margin-left: 5px;
  }
}

[#{$attr}~="bottom"] {
  &::before, &::after { @include translate(-50%, 0) }

  &::before {
    top: auto;
    right: auto;
    bottom: -5px;
    left: 50%;

    border-color: transparent;
    border-bottom-color: black;
  }

  &::after {
    top: 100%;
    right: auto;
    bottom: auto;
    left: 50%;

    margin-top: 5px;
  }
}

[#{$attr}~="left"] {
  &::before, &::after { @include translate(0, 50%) }

  &::before {
    top: auto;
    right: auto;
    bottom: 50%;
    left: -5px;

    border-color: transparent;
    border-left-color: black
  }

  &::after  {
    top: auto;
    right: 100%;
    bottom: 50%;
    left: auto;

    margin-right: 5px
  }
}

// anchor - default/bottom

[#{$attr}][#{$attr}~="anchor-right"],
[#{$attr}~="bottom"][#{$attr}~="anchor-right"] {
  &::before, &::after { @include translate(50%, 0) }

  &::before { top: auto; right: 20%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 20%; bottom: auto; left: auto }
}

[#{$attr}][#{$attr}~="anchor-left"],
[#{$attr}~="bottom"][#{$attr}~="anchor-left"]  {
  &::before, &::after { @include translate(50%, 0) }

  &::before { top: auto; right: 80%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 80%; bottom: auto; left: auto }
}

// anchor - top

[#{$attr}~="top"][#{$attr}~="anchor-right"] {
  &::before, &::after { @include translate(50%, 0) }

  &::before { top: -5px; right: 20%; bottom: auto; left: auto }
  &::after  { top: auto; right: 20%; bottom: 100%; left: auto }
}

[#{$attr}~="top"][#{$attr}~="anchor-left"]  {
  &::before, &::after { @include translate(50%, 0) }

  &::before { top: -5px; right: 80%; bottom: auto; left: auto }
  &::after  { top: auto; right: 80%; bottom: 100%; left: auto }
}

// multiline

[#{$attr}~="multiline"]::after {
  width: 200px;
  white-space: normal;
}
