@import "_mixins/translate";

// content

[has-tip]:not([tip-content]):not([title]) { &:before, &:after { visibility: hidden } }
[has-tip][title=""]:not([tip-content])    { &:before, &:after { visibility: hidden } }

[has-tip]:not([tip-content])::after { content: attr(title) }
[has-tip][tip-content=""]::after    { content: attr(title) }

// tip

[has-tip] {
  position: relative;
  cursor:   default;
}

// TODO: allow opocity, for transitions
[has-tip]::before,
[has-tip]::after {
  position:   absolute;
  visibility: hidden;
  z-index:    100000;
}

[has-tip]:hover::before,
[has-tip]:hover::after {
  visibility: visible;
}

[has-tip]::before {
  border:  5px solid transparent;
  width:   0;
  height:  0;
  content: "";
}

// TODO: extract theme
[has-tip]::after {
  padding:          5px 8px;
  font-size:        13px;
  content:          attr(tip-content);
  background-color: black;
  color:            white;
  white-space:      nowrap;
}

// direction

[has-tip]:not([has-tip~="top"]):not([has-tip~="right"]):not([has-tip~="bottom"]):not([has-tip~="left"]) {
  &::before { top: auto; right: 50%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 50%; bottom: auto; left: auto }

  &::before { border-bottom-color: black }
  &::after  { margin-top: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

[has-tip~="top"] {
  &::before { top: -5px; right: 50%; bottom: auto; left: auto }
  &::after  { top: auto; right: 50%; bottom: 100%; left: auto }

  &::before { border-top-color: black }
  &::after  { margin-bottom: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

[has-tip~="right"] {
  &::before { top: auto; right: -5px; bottom: 50%; left: auto }
  &::after  { top: auto; right: auto; bottom: 50%; left: 100% }

  &::before { border-right-color: black }
  &::after  { margin-left: 5px }

  &::before { @include translate(0, 50%) }
  &::after  { @include translate(0, 50%) }
}

[has-tip~="bottom"] {
  &::before { top: auto; right: 50%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 50%; bottom: auto; left: auto }

  &::before { border-bottom-color: black }
  &::after  { margin-top: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

[has-tip~="left"] {
  &::before { top: auto; right: auto; bottom: 50%; left: -5px }
  &::after  { top: auto; right: 100%; bottom: 50%; left: auto }

  &::before { border-left-color: black }
  &::after  { margin-right: 5px }

  &::before { @include translate(0, 50%) }
  &::after  { @include translate(0, 50%) }
}

// anchor

[has-tip~="anchor-top"]    { &::before { bottom: 80% } }
[has-tip~="anchor-right"]  { &::before { right:  20% } }
[has-tip~="anchor-bottom"] { &::before { bottom: 20% } }
[has-tip~="anchor-left"]   { &::before { right:  80% } }

// flow

[has-tip~="flow-up"]    { &::after { bottom: 20% } }
[has-tip~="flow-down"]  { &::after { bottom: 80% } }

[has-tip~="flow-right"] { &::after { @include translate(80%, 0) } }
[has-tip~="flow-left"]  { &::after { @include translate(20%, 0) } }

// multiline

[has-tip~="multiline"]::after {
  width: 200px;
  white-space: normal;
}
