@import "_mixins/translate";

// assignments

$attr:         "data-has-tip"     !default;
$content-attr: "data-tip-content" !default;

// content

[#{$attr}]:not([#{$content-attr}]):not([title]) { &:before, &:after { visibility: hidden } }
[#{$attr}][title=""]:not([#{$content-attr}])    { &:before, &:after { visibility: hidden } }

[#{$attr}]:not([#{$content-attr}])::after { content: attr(title) }
[#{$attr}][#{$content-attr}=""]::after    { content: attr(title) }

// tip

[#{$attr}] {
  position: relative;
  cursor:   default;
}

[#{$attr}]::before,
[#{$attr}]::after {
  position:       absolute;
  visibility:     hidden;
  z-index:        100000;
  pointer-events: none;
}

[#{$attr}]:hover::before,
[#{$attr}]:hover::after {
  visibility: visible;
}

[#{$attr}]::before {
  border:  5px solid;
  width:   0;
  height:  0;
  content: "";
}

[#{$attr}]::after {
  padding:          5px 8px;
  font-size:        13px;
  content:          attr(#{$content-attr});
  background-color: black;
  color:            white;
  white-space:      nowrap;
}

// position

[#{$attr}] {
  &::before { top: auto; right: 50%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 50%; bottom: auto; left: auto }

  &::before { border-color: transparent; border-bottom-color: black }
  &::after  { margin-top: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

[#{$attr}~="top"] {
  &::before { top: -5px; right: 50%; bottom: auto; left: auto }
  &::after  { top: auto; right: 50%; bottom: 100%; left: auto }

  &::before { border-color: transparent; border-top-color: black }
  &::after  { margin-bottom: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

[#{$attr}~="right"] {
  &::before { top: auto; right: -5px; bottom: 50%; left: auto }
  &::after  { top: auto; right: auto; bottom: 50%; left: 100% }

  &::before { border-color: transparent; border-right-color: black }
  &::after  { margin-left: 5px }

  &::before { @include translate(0, 50%) }
  &::after  { @include translate(0, 50%) }
}

[#{$attr}~="left"] {
  &::before { top: auto; right: auto; bottom: 50%; left: -5px }
  &::after  { top: auto; right: 100%; bottom: 50%; left: auto }

  &::before { border-color: transparent; border-left-color: black }
  &::after  { margin-right: 5px }

  &::before { @include translate(0, 50%) }
  &::after  { @include translate(0, 50%) }
}

[#{$attr}~="bottom"] {
  &::before { top: auto; right: 50%; bottom: -5px; left: auto }
  &::after  { top: 100%; right: 50%; bottom: auto; left: auto }

  &::before { border-color: transparent; border-bottom-color: black }
  &::after  { margin-top: 5px }

  &::before { @include translate(50%, 0) }
  &::after  { @include translate(50%, 0) }
}

// anchor

[#{$attr}~="anchor-top"]    { &::before { bottom: 80% } }
[#{$attr}~="anchor-right"]  { &::before { right:  20% } }
[#{$attr}~="anchor-bottom"] { &::before { bottom: 20% } }
[#{$attr}~="anchor-left"]   { &::before { right:  80% } }

// flow

[#{$attr}~="flow-up"]    { &::after { bottom: 80% } }
[#{$attr}~="flow-down"]  { &::after { bottom: 20% } }

[#{$attr}~="flow-right"] { &::after { @include translate(80%, 0) } }
[#{$attr}~="flow-left"]  { &::after { @include translate(20%, 0) } }

// multiline

[#{$attr}~="multiline"]::after {
  width: 200px;
  white-space: normal;
}
